<% content_for :title do %>
    <%= @jigyosho.name %>の編集
<% end %>

<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <h1><%= @jigyosho.name %>の編集</h1>
  </div>
</div>
<%= render 'form' %>

<%#= link_to 'Show', @jigyosho %>
<%#= link_to 'Back', jigyoshos_path %>
