<% content_for :title do %>
    新規事業所データの作成
<% end %>
<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <h1>新規事業所データの作成</h1>
  </div>
</div>


<%= render 'form' %>

<%#= link_to 'Back', jigyoshos_path %>
